!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Twitter trend analysis
    link(rel='stylesheet', href='/css/app.css')
  body(style="padding:16px;")
    block body